In [4]:
import numpy as np
import pandas as pd

In [5]:
data1=pd.read_csv('pdb2gene.csv')

In [6]:
data1.head()

    Entry GeneName
0  P04439    HLA-A
1  P31689   DNAJA1
2  P01889    HLA-B
3  P08246    ELANE
4  P10144     GZMB

In [7]:
data2=pd.read_csv("pdb_ids (1).csv")

In [8]:
data2.head()

    Entry
0  P01112
1  P40189
2  Q9ULT6
3  P61769
4  Q13618

In [9]:
data2=pd.merge(data1,data2, how='inner', on='Entry')

In [10]:
data2.to_csv('new.csv')

In [11]:
data3=pd.read_csv('cancer_gene_census_TSG_OG.csv')

In [12]:
data3.head()

  Gene Symbol Role in Cancer
0        A1CF             OG
1       ACVR1             OG
2      ACVR2A            TSG
3        AKT1             OG
4        AKT2             OG

In [14]:
data2.columns=['Entry','Gene Symbol']

In [15]:
data2.head()

    Entry Gene Symbol
0  Q6FHJ7       SFRP4
1  Q04771       ACVR1
2  P21860       ERBB3
3  P08581         MET
4  Q6ZN28       MACC1

In [16]:
data4=pd.merge(data2,data3,how='inner',on='Gene Symbol')

In [17]:
data4.head()

    Entry Gene Symbol Role in Cancer
0  Q6FHJ7       SFRP4            TSG
1  Q04771       ACVR1             OG
2  P21860       ERBB3             OG
3  P08581         MET             OG
4  Q6ZN28       MACC1             OG

In [18]:
data4.shape

(284, 3)

In [19]:
data4.to_csv('finalpdbgenerole.csv')